@import 'search-result';
@import 'responsive';
@import 'colors';
@import 'neo';

.item-detail{
    @extend %container;

    display: grid;
    
    grid-template: auto auto / 50vw auto;

    padding: 15px;


    @include movil(){
        grid-template-columns: 1fr;
        gap: 0em;
    }
     .img-section{
        text-align: center;
        vertical-align: middle;
     }

    .item-img{


        margin: 0 auto;
        @include movil(){
            width: 90%;
        }
    }
  
    aside{
        text-align: left;
        padding: 13px;

        span{
            display: block;
        }

    }

    .item-name{
        font-size: 1.5em;
        width: 80%;
    }
    .item-sell{
        margin-bottom: 5px;
    }
    .item-price{
        font-size: 2.5em;
        margin: 2vw 0 5vh 0;
    }

    .btn-buy{
        background-color: $button !important;
        color: white;
        border: none;
        display: block;
        width: 100%;
        height: 6vh;
        @include neo(5px, 1px);
        transition: background-color 0.5s;

        &:hover{           
            background-color: $button_hover !important;
            cursor: pointer;
        }
    }

    .description-section{
        margin-top: 5vh;
    }

    .description-title{
        font-size: 1.8em;
        text-align: left;
    }


}



